[Unit]
Description=Iptable for Lighttpd container.

[Service]
Type=oneshot
RemainAfterExit=Yes
EnvironmentFile=/tmp/container_env.sh
ExecStart=/lib/rdk/iptables_container.sh
